.slider {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0px;
    max-height: 80vh;
}

.img {
    width: 50%;
    max-height: 80vh;
    object-fit: contain;
}

.slide_content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: left;
    margin-right: 0;
    padding-right: 0;
    justify-content: flex-end;
}

.active {
    margin-right: 0;
    width: 100vw;
    max-height: 80vh;

    background-color: rgb(252, 241, 237);
}

.inactive {
    display: none;
}

.slide_content h2 {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;


}

.slide_content p {
    margin-top: 40px;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    text-align: start;

}

.slide_content button {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #686868;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 8px;
}
